$borderColor: #000000;
$tableSquareColor: #030605d1;
$tableSquareSmallColor: #030605a6;
$tableBoxShadowColor: rgba(0,0,0,0.75);
$redCheckerColor: tomato;
$blueCheckerColor: skyblue;
$scoreColor: #1a1313b8;
$modalBorderColor: #888;
$modalBackgroundColor: #fefefe;
$titleBgColor: #8bc34a59;
$titleColor: #03685f;
$titleTextShadowColor: #009688;
